.summary-list {
  padding: 10px;
  margin-bottom: 65px;
}
.section-body ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --item-inner-align-items: flex-start;
}

.summary-content-wrap {
  white-space: normal;
  overflow-wrap: break-word;
  min-width: 100%;
  width: 100%;
  flex-shrink: 1;
}
