<ion-app>
  <!-- Mobile view -->
  <ion-menu contentId="main-content" type="overlay" side="end" class="sideMenu">
    <ion-content>
      <ion-list>
        <ion-item button (click)="navigateToPatient()">Regisztráció</ion-item>
        <ion-item button (click)="navigateToDoctor()">Orvosi jelentkezés</ion-item>
        <ion-item button (click)="navigateToLogin()">Bejelentkezés</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div *ngIf="isMobile" class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary" class="navbar-container">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="navbar-left">
          <img src="pictures/logo.png" alt="Logo" class="logo" draggable="false"/>
          <ion-title>CareLink</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet></ion-router-outlet>
  </div>

  <!-- Desktop view -->
  <ion-header *ngIf="!isMobile">
    <ion-toolbar>
      <div class="navbar-content">
        <div class="navbar-left">
          <img src="pictures/logo.png" alt="Logo" class="logo" draggable="false"/>
          <ion-title>CareLink</ion-title>
        </div>

        <div class="navbar-right">
          <a (click)="navigateToPatient()" class="nav-link">Regisztráció</a>
          <a (click)="navigateToDoctor()" class="nav-link">Orvosi jelentkezés</a>
          <a (click)="navigateToLogin()" class="nav-link">Bejelentkezés</a>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-app>
