ion-header {
  background-color: #00acc1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999;
}

ion-buttons {
  height: 100%;
}

ion-menu-button {
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1% 0 3%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

ion-title {
  padding: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  user-select: none;
}

.logo {
  height: 40px;
  margin-right: 0.5rem;
}

.sideMenu {
  top: 55px;
  --width: 200px;
}

.close-icon {
  width: 40px;
  height: 40px;
}

ion-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

ion-list ion-item {
  font-size: 1.25rem;
}

ion-toolbar {
  --background: #00acc1;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 1%;
}

.navbar-right {
  display: flex;
  gap: 1.5rem;
}

.navbar-right .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.navbar-right .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-right .nav-link:hover {
  opacity: 0.8;
}

.navbar-right .nav-link:hover::after {
  width: 100%;
}
