:root {
  --primary: #213A57;
  --secondary: #26c5d9;
  --accent: #B03441;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;

  --navbar-background-color: #213A57;
  --smoke-color: #444;
  --quote-author: #14919B;
  --dashboard-background-color: #E2FFFE;

  --button-shadow: 0 2px 5px rgba(0, 110, 166, 0.3);
  --ion-button-radius: 15px;
  --button-radius: 10px;
  --button-border: 2px solid var(--primary);
  --accent-button-border: 2px solid var(--accent);
}

html, body {
  margin: 0;
  font-family: "Bell MT";
}

.custom-logout-modal {
  --width: 350px;
  --height: 210px;
  --border-radius: 16px;
  --box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

ion-button.btn-secondary {
  width: 30%;
  border-radius: var(--ion-button-radius);
  --border-radius: var(--button-radius);
  --background: none;
  --box-shadow: none;
  border: var(--button-border);
  color: var(--primary);
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: var(--button-shadow);
  white-space: normal;
  text-align: center;
  line-height: 1.2;
  word-break: break-word;
}

ion-button.btn-secondary:hover {
  background: var(--primary);
  color: var(--light-text-color);
  border-radius: var(--button-radius);
  box-shadow: var(--button-shadow);
  transform: translateY(-2px);
}

ion-button.btn-primary {
  width: 70%;
  border-radius: var(--ion-button-radius);
  --border-radius: var(--button-radius);
  --background: var(--primary);
  --box-shadow: none;
  border: var(--button-border);
  color: var(--light-text-color);
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: var(--button-shadow);
  white-space: normal;
  text-align: center;
  line-height: 1.2;
  word-break: break-word;
}

ion-button.btn-primary:hover {
  background: var(--primary);
  color: var(--light-text-color);
  border-radius: var(--button-radius);
  box-shadow: var(--button-shadow);
  transform: translateY(-2px);
}

ion-button.btn-accent {
  width: 100%;
  border-radius: var(--ion-button-radius);
  --border-radius: var(--button-radius);
  --background: var(--accent);
  --box-shadow: none;
  border: var(--accent-button-border);
  color: var(--light-text-color);
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: var(--button-shadow);
  white-space: normal;
  text-align: center;
  line-height: 1.2;
  word-break: break-word;
}

ion-button.btn-accent:hover {
  background: var(--accent);
  color: var(--light-text-color);
  border-radius: var(--button-radius);
  box-shadow: var(--button-shadow);
  transform: translateY(-2px);
}
