<ion-card class="admin-card"> <ion-toolbar class="pc-header"> <div slot="start" class="pc-left">
  <div class="dpc-avatar">
    <img ngSrc="{{ user.user.pictureUrl }}" alt="Profilkép" draggable="false" priority fill/>
  </div>
  <div class="pc-name-info"> <ion-label>
    <div class="pc-fullname">{{ user.user.name }}</div>
    <ion-chip class="pc-role">{{ getUserRoleLabel(user.user.role) }}</ion-chip> </ion-label>
  </div>
</div>

  <ion-buttons slot="end" *ngIf="editable" class="pc-edit-top">
    <ion-button class="btn-accent" (click)="edit.emit()" fill="outline">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Módosítás
    </ion-button>
  </ion-buttons>
</ion-toolbar>

  <ion-card-content>
    <div class="pc-details-admin-card main-data">
      <div class="col">
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Regisztráció dátuma:</ion-label>
          <span class="value">{{ user.admin.registDate | date:'yyyy-MM-dd' }}</span>
        </ion-item>
      </div>
    </div>

    <div class="pc-details-admin-card">
      <div class="col">
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Email:</ion-label>
          <span class="value">{{ user.user.email }}</span>
        </ion-item>
      </div>
      <div class="col">
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Mobil:</ion-label>
          <span class="value">{{ formatPhoneNumber(this.user.user.phoneNumber) }}</span>
        </ion-item>
      </div>
      <div class="col">
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Cím:</ion-label>
          <span class="value">{{ user.user.address }}</span>
        </ion-item>
      </div>
    </div>
  </ion-card-content>

  <ion-footer *ngIf="editable" class="pc-edit-bottom-wrap">
    <ion-button class="btn-accent" (click)="edit.emit()">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Módosítás
    </ion-button>
  </ion-footer>
</ion-card>
