<ion-header>
  <ion-toolbar>
    <h2>Felhasználó hozzáadása</h2>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="modal-body">
  <ion-segment [(ngModel)]="selectedRole" value="patient">
    <ion-segment-button value="patient">
      <div class="segment-button">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Páciens</ion-label>
      </div>
    </ion-segment-button>

    <ion-segment-button value="doctor">
      <div class="segment-button">
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label>Orvos</ion-label>
      </div>
    </ion-segment-button>

    <ion-segment-button value="admin">
      <div class="segment-button">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <ion-label>Adminisztrátor</ion-label>
      </div>
    </ion-segment-button>
  </ion-segment>

  <div class="form-container" *ngIf="userService.admin$() | async as user">
    <app-patient-regist
      *ngIf="selectedRole === 'patient'"
      [title]="'Páciens felvitele'"
      [calledByAdmin]=true
      [adminUser]="user">
    </app-patient-regist>

    <app-doctor-regist
      *ngIf="selectedRole === 'doctor'"
      [title]="'Orvos felvitele'"
      [calledByAdmin]=true
      [adminUser]="user">
    </app-doctor-regist>

    <app-admin-regist
      *ngIf="selectedRole === 'admin'"
      [adminUser]="user">
    </app-admin-regist>
  </div>
</div>
