<ion-card [ngClass]="{ 'admin-extra': calledByAdmin }">
  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="form">
    <form [formGroup]="doctorForm" (ngSubmit)="onDoctorRegister()">

      <div class="grid-pair">
        <ion-item
          lines="none"
          [class.ios-custom-style]="this.platform.isIos">
          <ion-input
            class="field"
            label="Teljes név"
            labelPlacement="floating"
            fill="outline"
            shape="round"
            type="text"
            formControlName="fullName"
            required
            clearInput>
          </ion-input>
        </ion-item>

        <ion-item
          lines="none"
          [class.ios-custom-style]="this.platform.isIos">
          <ion-input
            class="field"
            label="E-mail cím"
            labelPlacement="floating"
            fill="outline"
            shape="round"
            type="email"
            formControlName="email"
            required
            clearInput>
          </ion-input>
        </ion-item>
      </div>

      <div class="grid-pair">
        <ion-item
          lines="none"
          [class.ios-custom-style]="this.platform.isIos">
          <ion-input
            class="field"
            label="Jelszó"
            labelPlacement="floating"
            fill="outline"
            shape="round"
            [type]="showPwd1 ? 'text' : 'password'"
            formControlName="password"
            required
            clearInput>

            <div slot="end" class="password-hint-wrapper">
              <ion-icon name="alert-circle-outline" class="hint-icon"></ion-icon>
              <div class="hint-tooltip">
                <strong>Jelszó követelmények:</strong><br>
                • Legalább 8 karakter<br>
                • Legalább 1 nagybetű<br>
                • Legalább 1 szám
              </div>
            </div>
            <ion-button
              slot="end"
              fill="clear"
              size="small"
              type="button"
              (click)="togglePwd1()"
              aria-label="Jelszó mutatása/elrejtése">
              <ion-icon [name]="showPwd1 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>

        <ion-item
          lines="none"
          [class.ios-custom-style]="this.platform.isIos">
          <ion-input
            class="field"
            label="Jelszó ismét"
            labelPlacement="floating"
            fill="outline"
            shape="round"
            [type]="showPwd2 ? 'text' : 'password'"
            formControlName="password_again"
            required
            clearInput>

            <div slot="end" class="password-hint-wrapper">
              <ion-icon name="alert-circle-outline" class="hint-icon"></ion-icon>
              <div class="hint-tooltip">
                <strong>Jelszó követelmények:</strong><br>
                • Legalább 8 karakter<br>
                • Legalább 1 nagybetű<br>
                • Legalább 1 szám
              </div>
            </div>
            <ion-button
              slot="end"
              fill="clear"
              size="small"
              type="button"
              (click)="togglePwd2()"
              aria-label="Jelszó mutatása/elrejtése">
              <ion-icon [name]="showPwd2 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
      </div>

      <div class="grid-pair">
        <ion-item
        lines="none"
        [class.ios-custom-style]="this.platform.isIos">
          <ion-input
            class="field"
            label="Telefonszám"
            labelPlacement="floating"
            fill="outline"
            shape="round"
            type="tel"
            (ionInput)="onPhoneChange($event)"
            formControlName="phoneNumber"
            placeholder="06 30 123 4567"
            required
            clearInput>
          </ion-input>
        </ion-item>

        <ion-item
          lines="none"
          [class.ios-custom-style]="this.platform.isIos">
          <ion-input
            class="field"
            label="Specializáció"
            labelPlacement="floating"
            fill="outline"
            shape="round"
            type="text"
            formControlName="speciality"
            required
            clearInput>
          </ion-input>
        </ion-item>
      </div>

      <div class="button-row">
        <ion-button *ngIf="!calledByAdmin" class="btn-secondary back" type="button" (click)="backToDash()">Vissza</ion-button>
        <ion-button [ngClass]="{ 'full-width': calledByAdmin }" class="btn-primary submit" type="submit" [disabled]="loading">Orvos regisztráció</ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-card>
