.page-container {
  min-height: 100vh;
  --background: var(--dashboard-background-color);
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  width: 85%;
  flex-direction: column;
  --background: none;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  padding: 3% 3% 3% 12%;
}

.profile-card,
.patients,
.doctors,
.admins,
.doctor-applications,
.messages,
.ai-assistant {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  background-color: #ffffff;
}

.profile-card {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.patients {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.doctors {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.admins {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.doctor-applications {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.messages {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.ai-assistant {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

ion-row {
  display: block;
}

.profile-picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}

.profile-picture img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.profile-card-flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

ion-card-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-card-content {
  width: 50%;
  padding-bottom: 0;
}

.user-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ion-card-title {
  text-align: center;
  --margin-bottom: 0;
}

.user-info {
  padding: 5px;
}

h2 {
  margin-bottom: 0;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.value {
  font-size: 0.9rem;
  color: #555;
  word-break: break-word;
}

.edit-button-container {
  margin-top: 30px;
}

.edit {
  width: 90%;
}

.profile-data-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.profile-fields {
  width: 50%;
}

.profile-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.profile-fields::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
