<app-doctor-navbar></app-doctor-navbar>

<ion-content class="page-container">
  <div class="view-toggle">
    <button
      [class.active]="activeView === 'calendar'"
      (click)="switchView('calendar')">
    </button>

    <button
      [class.active]="activeView === 'new'"
      (click)="switchView('new')">
    </button>
  </div>

  <div *ngIf="activeView === 'calendar'" class="view-container first-slide">
    <ion-card class="calendar">
      <ion-card-header>
        <ion-card-title>Rendelések naptára</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-datetime
          presentation="date"
          (ionChange)="onDateChange($event)"
          [value]="selectedDate"
          [locale]="locale"
          [firstDayOfWeek]="1">
        </ion-datetime>
      </ion-card-content>
    </ion-card>

    <ion-card class="appointmentDates">
      <ion-card-header>
        <ion-button class="expand-toggle" (click)="toggleExpand()">
          {{ isExpanded ? 'Mutass kevesebbet' : 'Mutass többet' }}
        </ion-button>
      </ion-card-header>

      <ion-card-content>
        <div class="timeslots" *ngIf="selectedDate" [class.expanded]="isExpanded">
          <h4>Időpontok: <strong>{{ selectedDate | date: 'yyyy.MM.dd.' }}</strong></h4>

          <div *ngFor="let slot of hourlySlots" class="timeslot">
            <div class="slot-left">
              <span class="slot-time">{{ slot }}</span>

              <ng-container *ngIf="getAppointmentForSlot(slot) as appt">
              <span class="slot-info">
                <ng-container *ngIf="appt.patient_id && appointmentUserDataMap[appt.patient_id] as patient; else noPatient">
                  {{ patient.name }} | {{ patient.email }} | {{ patient.phoneNumber }}
                </ng-container>

                <ng-template #noPatient>
                  <strong>{{ appt.status }}</strong>
                </ng-template>
              </span>
              </ng-container>
            </div>

            <div class="slot-right" *ngIf="getAppointmentForSlot(slot)">
              <ion-button
                class="delete"
                size="small"
                (click)="onAppointmentAction(getAppointmentForSlot(slot))">
                Törlés
              </ion-button>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="activeView === 'new'" class="view-container">
    <ion-card class="newAppointment">
      <ion-card-header>
        <ion-card-title>Új rendelés felvitele</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="form-row">
          <div class="form-column">
            <ion-item class="custom-item">
              <ion-label class="custom-label" position="stacked">Dátum</ion-label>
              <ion-datetime
                [(ngModel)]="newAppointment.date"
                presentation="date"
                [locale]="locale"
                [firstDayOfWeek]="1">
              </ion-datetime>
            </ion-item>
          </div>

          <div class="form-column">
            <ion-item class="custom-item">
              <ion-label class="custom-label" position="stacked">Kezdés (HH:MM)</ion-label>
              <ion-select interface="popover" class="custom-select" [(ngModel)]="newAppointment.from">
                <ion-select-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="custom-item">
              <ion-label class="custom-label" position="stacked">Befejezés (HH:MM)</ion-label>
              <ion-select interface="popover" class="custom-select" [(ngModel)]="newAppointment.to">
                <ion-select-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-button class="btn-accent submit" (click)="addAppointment()">Hozzáadás</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
