.page-container {
  min-height: 100vh;
  --background: var(--dashboard-background-color);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.appointments-container {
  display: flex;
  gap: 16px;
  width: 85%;
  flex-direction: column;
  --background: none;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  padding: 3% 3% 3% 12%;
}

ion-card {
  width: 100%;
  border-radius: 20px;
  flex: 1;
  margin: 30px auto;
}

.calendar {
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
}

.appointmentDates {
  min-height: 400px;
  margin: 0 0 0 30px;
}

.newAppointment {
  max-width: 1200px;
  margin: 0 auto;
}

.view-container {
  width: 85%;
  margin: auto auto 50px;
}

.first-slide {
  display: flex;
  flex-direction: row;
}

.view-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.view-toggle button {
  width: 240px;
  padding: 10px 15px;
  border: none;
  background-color: var(--secondary);
  cursor: pointer;
  margin: 30px 10px 30px 10px;
  border-radius: 5px;
  border: var(--button-border);
  transition: background-color 0.3s ease-in-out;
}

.view-toggle button.active {
  background-color: var(--primary);
  color: white;
}

ion-datetime {
  max-width: 500px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-style: none;
  margin: 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ion-label.custom-label {
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--smoke-color);
  margin-bottom: 10px;
}

ion-select.custom-select {
  width: 99.2%;
  border-radius: 15px;
  --border-radius: 15px;
  --padding-start: 15px;
  --padding-end: 15px;
  --background: #f4f4f4;
  --color: #333;
  font-size: 1rem;
  border: 1px solid #ccc;
}

ion-select.custom-select::part(placeholder) {
  color: #aaa;
}

ion-item.custom-item {
  --background: transparent;
  --background-hover: transparent;
}

.submit {
  margin-top: 25px;
}

ion-datetime::part(active) {
  background: #007bff;
  color: white;
  font-size: 1.25rem;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

ion-datetime::part(active):hover {
  transform: scale(1.1);
}

ion-datetime::part(calendar-day) {
  position: relative;
}

.appointmentDates ion-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-right: 1rem;
}

.expand-toggle {
  text-transform: none;
  width: 200px;
  font-size: 1rem;
  color: #007bff;
  --background: none;
  --border: none;
  --box-shadow: none;
  cursor: pointer;
}

.timeslot {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.slot-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.slot-right {
  margin-left: auto;
}

.timeslots {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.timeslots.expanded {
  max-height: 1000px;
}

.timeslot:nth-child(odd) {
  background-color: #f9f9f9;
}

.slot-time {
  font-weight: bolder;
}

.slot-info {
  margin-left: 12px;
  font-size: 1rem;
  color: #333;
}

.delete {
  --background: var(--accent);
  border: var(--accent) 1px solid;
  border-radius: 5px;
  font-size: 0.75rem;
  width: 100px;
  transition: hover 0.5s ease-in-out;
}

.delete:hover {
  --background: transparent;
  border: var(--accent) 1px solid;
  color: var(--accent);
}


@media (max-width: 1300px) {
  .first-slide {
    flex-direction: column;
  }

  .appointmentDates {
    max-width: 700px;
    height: 400px;
    margin: 30px auto;
  }
}
