<div class="grid">
  <app-admin-profile-card
    class="profile-card"
    [user]="user"
    [editable]="true"
    (edit)="openEditModal()">
  </app-admin-profile-card>

  <ion-card class="patients">
    <div class="card-header">
      <h2 class="header-title">Páciensek</h2>
      <ion-button class="expand-btn" [routerLink]="['/admin/all-users']" [queryParams]="{ role: 'patient' }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="count">
      <span>{{ patientsCount }}</span>
    </div>
  </ion-card>

  <ion-card class="doctors">
    <div class="card-header">
      <h2 class="header-title">Orvosok</h2>
      <ion-button class="expand-btn" [routerLink]="['/admin/all-users']" [queryParams]="{ role: 'doctor' }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="count">
      <span>{{ doctorsCount }}</span>
    </div>
  </ion-card>

  <ion-card class="admins">
    <div class="card-header">
      <h2 class="header-title">Adminisztrátorok</h2>
      <ion-button class="expand-btn" [routerLink]="['/admin/all-users']" [queryParams]="{ role: 'admin' }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="count">
      <span>{{ adminsCount }}</span>
    </div>
  </ion-card>

  <ion-card class="doctor-applications">
    <div class="card-header">
      <h2 class="header-title">Orvosi jelentkezések</h2>
      <ion-button class="expand-btn" [routerLink]="['/admin/doctor-approvals']" [queryParams]="{ role: 'admin' }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="count">
      <span>{{ this.pendingDoctors.length }}</span>
    </div>
  </ion-card>

  <ion-card class="messages">
    <div class="card-header">
      <h2 class="header-title">Rendszerüzenetek</h2>
      <ion-button class="expand-btn" [routerLink]="['/admin/system-messages']" [queryParams]="{ role: 'admin' }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="systemMessages.length !== 0" class="message-table-scroll">
      <ion-grid class="message-table">
        <ion-row class="table-header">
          <ion-col size="3"><span class="th">Típus / Közönség</span></ion-col>
          <ion-col size="6" class="hide-sm"><span class="th">Cím</span></ion-col>
          <ion-col size="3"><span class="th">Érvényesség</span></ion-col>
        </ion-row>

        <ion-row *ngFor="let message of systemMessages" class="table-row">
          <ion-col size="3" class="chips-col">
            <div class="aud-chip">
              {{ message.audience }}
            </div>
          </ion-col>

          <ion-col size="6" class="hide-sm">
            <div class="title-td" [title]="message.title">{{ message.title }}</div>
          </ion-col>

          <ion-col size="3">
            <div class="date-chip" *ngIf="message.validUntil">{{ message.validUntil }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="systemMessages.length === 0" class="no-data">
      <span class="no-data-text">(N/A)</span>
      <span class="no-data-sub">Jelenleg nincs elmentett rendszerüzenet.</span>
    </div>
  </ion-card>
</div>
