<div class="doctor-container">
  <div class="header">
    <div class="upper-section">
      <div class="search-container">
        <div class="search-input-row">
          <ion-searchbar
            (ionInput)="onSearchInput($event)"
            (ionClear)="clearSearch()"
            [value]="inputSearchTerm"
            placeholder="Keresés név alapján..."
            animated="true"
            clear-icon="close-circle">
          </ion-searchbar>

          <div class="filter-container">
            <ion-icon name="options" (click)="toggleFilters()"></ion-icon>

            <ion-list *ngIf="showFilters" class="filter-panel">
              <ion-item *ngFor="let specialty of specialties" lines="none" (click)="toggleSpecialty(specialty)" button>
                <ion-checkbox
                  slot="start"
                  [checked]="selectedSpecialties.includes(specialty)">
                </ion-checkbox>
                <ion-label>{{ specialty }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <ion-button
          (click)="applySearch()"
          class="search-button">
          <ion-icon name="search" slot="start"></ion-icon>
          Keresés
        </ion-button>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="!isLoading && paginatedDoctors.length > 0">
    <div class="pag-left">
      Találatok: {{ totalCount }} db
    </div>

    <div class="pag-controls">
      <ion-icon name="chevron-back-outline"
                (click)="goToPage(currentPage - 1)"
                [class.disabled]="currentPage === 1"></ion-icon>

      <span *ngFor="let page of visiblePages"
            (click)="goToPage(page)"
            [class.active]="page === currentPage">
              {{ page }}
        </span>

      <ion-icon name="chevron-forward-outline"
                (click)="goToPage(currentPage + 1)"
                [class.disabled]="currentPage === totalPages"></ion-icon>
    </div>
  </div>

  <div *ngIf="!isLoading && paginatedDoctors.length === 0" class="no-data">
    Nincs találat
    <span class="no-data-text">N/A</span>
  </div>

  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col class="custom-col" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
        <ion-card class="skeleton-card">
          <ion-card-header class="doctor-card-header">
            <ion-avatar class="avatar">
              <ion-skeleton-text animated class="doctor-avatar-skeleton"></ion-skeleton-text>
            </ion-avatar>
            <div class="doctor-header-info">
              <ion-card-title>
                <ion-skeleton-text animated style="width: 150px; border-radius: 5px; height: 24px;"></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 50px; border-radius: 5px; height: 16px;"></ion-skeleton-text>
              </ion-card-subtitle>
            </div>
          </ion-card-header>

          <ion-card-content class="doctor-rating">
            <div class="rating">
              <div class="rating-icons">
                <ion-skeleton-text animated style="width: 200px; border-radius: 5px; height: 20px;"></ion-skeleton-text>
              </div>
              <span class="rating-number">
              <ion-skeleton-text animated style="width: 30px; border-radius: 5px; height: 16px;"></ion-skeleton-text>
            </span>
            </div>
          </ion-card-content>

          <div class="button-row">
            <ion-skeleton-text animated class="skeleton-button"></ion-skeleton-text>
            <ion-skeleton-text animated class="skeleton-button"></ion-skeleton-text>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col class="custom-col" *ngFor="let doctor of paginatedDoctors">
        <ion-card>
          <ion-card-header class="doctor-card-header">
            <ion-avatar class="avatar">
              <img ngSrc="{{doctor.user.pictureUrl}}" class="doctor-avatar" alt="Profilkép" draggable="false" priority fill/>
            </ion-avatar>
            <div class="doctor-header-info">
              <ion-card-title>Dr. {{ doctor.user.name }}</ion-card-title>
              <ion-card-subtitle>{{ doctor.doctor.speciality }}</ion-card-subtitle>
            </div>
          </ion-card-header>

          <ion-card-content class="doctor-rating">
            <ng-container *ngIf="ratingFor(doctor.doctor.avgRating) as rv">
              <div class="rating">
                <div class="rating-icons">
                  <ion-icon *ngFor="let icon of rv.icons" [name]="icon"></ion-icon>
                </div>
                <span class="rating-number">{{ rv.rounded | number:'1.1-1' }}/5</span>
              </div>
            </ng-container>
          </ion-card-content>

          <div class="button-row">
            <ion-button class="btn-primary" (click)="openAppointmentModal(doctor)">Időpontfoglalás</ion-button>
            <ion-button class="btn-secondary" (click)="openDoctorProfileModal(doctor)">Profil megtekintése</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
