<div class="message-table-scroll">
  <ion-grid class="message-table">
    <ion-row class="table-header">
      <ion-col size="2"><span class="th">Orvos</span></ion-col>
      <ion-col size="2"><span class="th">Specialitás</span></ion-col>
      <ion-col size="2" class="sort" (click)="sortAppointments()">
        <span class="th">Időpont</span>
        <ion-icon
          [name]="sortColumn === 'datetime'
            ? (sortDirection === 'asc' ? 'chevron-up-outline' : 'chevron-down-outline')
            : 'swap-vertical-outline'">
        </ion-icon>
      </ion-col>
      <ion-col size="2"><span class="th">Cím</span></ion-col>
      <ion-col size="2"><span class="th">Telefonszám</span></ion-col>
      <ion-col size="2" class="text-center"><span class="th">Email</span></ion-col>
    </ion-row>

    <ion-row *ngFor="let appointment of myAppointments" class="table-row">
      <ion-col size="2">
        <div class="doctor-info">
          <div class="avatar">
            <img ngSrc="{{appointment.doctor.user.pictureUrl}}" alt="Profilkép" draggable="false" fill/>
          </div>
          <span>Dr. {{ appointment.doctor.user.name }}</span>
        </div>
      </ion-col>

      <ion-col size="2" class="chips-col">
        {{ appointment.doctor.doctor.speciality }}
      </ion-col>

      <ion-col size="2" class="hide-sm">
        {{ formatAppointmentTime(appointment.from, appointment.to) }}
      </ion-col>

      <ion-col size="2" class="message-column">
        {{ appointment.doctor.user.address }}
      </ion-col>

      <ion-col size="2">
        {{ formatPhoneNumber(appointment.doctor.user.phoneNumber) }}
      </ion-col>

      <ion-col size="2">
        {{ appointment.doctor.user.email }}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
