<ion-segment [(ngModel)]="mainTab" class="tabs">
  <ion-segment-button value="patient">
    <div class="segment-button">
      <ion-icon name="person"></ion-icon>
      <ion-label>Páciensi M.I.</ion-label>
    </div>
  </ion-segment-button>
  <ion-segment-button value="doctor">
    <div class="segment-button">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Orvosi M.I.</ion-label>
    </div>
  </ion-segment-button>
</ion-segment>

<ion-card class="panel" *ngIf="mainTab==='patient'">
  <ion-segment [(ngModel)]="patientSubTab">
    <ion-segment-button value="rules">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Szabályok</ion-label>
    </ion-segment-button>
    <ion-segment-button value="demo">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Demo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="patientSubTab==='rules'">
    <app-ai-rules-card
      [role]="'patient'">
    </app-ai-rules-card>
  </div>

  <div *ngIf="patientSubTab==='demo'">
    <app-ai-demo-card
      [role]="'patient'">
    </app-ai-demo-card>
  </div>
</ion-card>

<ion-card class="panel" *ngIf="mainTab==='doctor'">
  <ion-segment [(ngModel)]="doctorSubTab">
    <ion-segment-button value="rules">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Szabályok</ion-label>
    </ion-segment-button>
    <ion-segment-button value="demo">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Demo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="doctorSubTab==='rules'">
    <app-ai-rules-card
      [role]="'doctor'">
    </app-ai-rules-card>
  </div>

  <div *ngIf="doctorSubTab==='demo'">
    <app-ai-demo-card
      [role]="'doctor'">
    </app-ai-demo-card>
  </div>
</ion-card>
