<ion-card>

  <ion-card-header>
    <ion-card-title>Páciens regisztráció</ion-card-title>
  </ion-card-header>

  <!-- Desktop view -->
  <ion-card-content *ngIf="!isMobile" class="form-grid">

    <!-- 1. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Teljes név</ion-label>
        <input type="text" class="input" [(ngModel)]="fullName" placeholder="Teljes név" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail cím</ion-label>
        <input type="email" class="input" [(ngModel)]="email" placeholder="Email cím" />
      </ion-item>
    </div>

    <!-- 2. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Jelszó</ion-label>
        <input type="password" class="input" [(ngModel)]="password" placeholder="Jelszó" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jelszó ismét</ion-label>
        <input type="password" class="input" [(ngModel)]="password_again" placeholder="Jelszó még egyszer" />
      </ion-item>
    </div>

    <!-- 3. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Telefonszám</ion-label>
        <input type="tel" class="input" [(ngModel)]="phone" placeholder="+36 XX XXX XXX" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cím</ion-label>
        <input type="text" class="input" [(ngModel)]="address" placeholder="Baranyai utca 52." />
      </ion-item>
    </div>

    <!-- 4. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Születési dátum</ion-label>
        <input type="date" class="input" [(ngModel)]="date"/>
      </ion-item>
    </div>

    <!-- Gomb -->
    <div class="button-row">
      <ion-button class="back" (click)="backToDash()">Vissza</ion-button>
      <ion-button class="form-button" (click)="onRegister()">Csatlakozz</ion-button>
    </div>

  </ion-card-content>
  <!-- Mobil view -->
  <ion-card-content *ngIf="isMobile" class="form-grid">

    <!-- 1. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Teljes név</ion-label>
        <input type="text" class="input" [(ngModel)]="fullName" placeholder="Teljes név" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail cím</ion-label>
        <input type="email" class="input" [(ngModel)]="email" placeholder="Email cím" />
      </ion-item>
    </div>

    <!-- 2. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Jelszó</ion-label>
        <input type="password" class="input" [(ngModel)]="password" placeholder="Jelszó" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jelszó ismét</ion-label>
        <input type="password" class="input" [(ngModel)]="password_again" placeholder="Jelszó még egyszer" />
      </ion-item>
    </div>

    <!-- 3. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Telefonszám</ion-label>
        <input type="tel" class="input" [(ngModel)]="phone" placeholder="+36 XX XXX XXX" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cím</ion-label>
        <input type="text" class="input" [(ngModel)]="address" placeholder="Baranyai utca 52." />
      </ion-item>
    </div>

    <!-- 4. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Születési dátum</ion-label>
        <input type="date" class="input" [(ngModel)]="date"/>
      </ion-item>
    </div>

    <!-- Gomb -->
    <ion-button class="mobil-form-button" (click)="onRegister()">Csatlakozz</ion-button>
    <ion-button class="mobil-back" (click)="backToDash()">Vissza</ion-button>

  </ion-card-content>

</ion-card>
