<ion-card>

  <ion-card-header>
    <ion-card-title>Páciens regisztráció</ion-card-title>
  </ion-card-header>

  <!-- Desktop view -->
  <ion-card-content *ngIf="!isMobile" class="form-grid">

    <!-- 1. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Teljes név</ion-label>
        <input type="text" class="desktop-input" [(ngModel)]="fullName" placeholder="Teljes név" required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail cím</ion-label>
        <input type="email" class="desktop-input" [(ngModel)]="email" placeholder="Email cím" required/>
      </ion-item>
    </div>

    <!-- 2. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Jelszó</ion-label>
        <input type="password" class="desktop-input" [(ngModel)]="password" placeholder="Jelszó" required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jelszó ismét</ion-label>
        <input type="password" class="desktop-input" [(ngModel)]="password_again" placeholder="Jelszó még egyszer" required/>
      </ion-item>
    </div>

    <!-- 3. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Telefonszám</ion-label>
        <input type="tel" class="desktop-input" [(ngModel)]="phoneNumber" placeholder="06XXXXXXXXX" required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">TAJ szám</ion-label>
        <input type="text" class="desktop-input" [(ngModel)]="address" placeholder="TAJ" required/>
      </ion-item>
    </div>

    <!-- 4. sor -->
    <div class="grid-pair">
      <ion-item>
        <ion-label position="floating">Cím</ion-label>
        <input type="text" class="desktop-input" [(ngModel)]="address" placeholder="Baranyai utca 52." required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Születési dátum</ion-label>
        <input type="date" class="desktop-input" [(ngModel)]="birthDate"/>
      </ion-item>
    </div>

    <!-- Gomb -->
    <div class="button-row">
      <ion-button class="back" (click)="backToDash()">Vissza</ion-button>
      <ion-button class="form-button" (click)="onPatientRegister()">Csatlakozz</ion-button>
    </div>

  </ion-card-content>

  <app-notification
    [message]="notificationMessage"
    [type]="notificationType"
    [show]="showNotification">
  </app-notification>

  <!-- Mobil view -->
  <ion-card-content *ngIf="isMobile" class="form-grid">

    <!-- 1. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Teljes név</ion-label>
        <input type="text" class="mobil-input" [(ngModel)]="fullName" placeholder="Teljes név" required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail cím</ion-label>
        <input type="email" class="mobil-input" [(ngModel)]="email" placeholder="Email cím" required/>
      </ion-item>
    </div>

    <!-- 2. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Jelszó</ion-label>
        <input type="password" class="mobil-input" [(ngModel)]="password" placeholder="Jelszó" required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jelszó ismét</ion-label>
        <input type="password" class="mobil-input" [(ngModel)]="password_again" placeholder="Jelszó még egyszer" required/>
      </ion-item>
    </div>

    <!-- 3. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Telefonszám</ion-label>
        <input type="tel" class="mobil-input" [(ngModel)]="phoneNumber" placeholder="06XXXXXXXXX" required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">TAJ szám</ion-label>
        <input type="text" class="desktop-input" [(ngModel)]="address" placeholder="TAJ" required/>
      </ion-item>
    </div>

    <!-- 4. sor -->
    <div class="mobil-grid-pair">
      <ion-item>
        <ion-label position="floating">Cím</ion-label>
        <input type="text" class="mobil-input" [(ngModel)]="address" placeholder="Baranyai utca 52." required/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Születési dátum</ion-label>
        <input type="date" class="mobil-input" [(ngModel)]="birthDate"/>
      </ion-item>
    </div>

    <!-- Gomb -->
    <ion-button class="mobil-form-button" (click)="onPatientRegister()">Csatlakozz</ion-button>
    <ion-button class="mobil-back" (click)="backToDash()">Vissza</ion-button>

  </ion-card-content>

</ion-card>
