ion-card {
  box-shadow: none;
  background: white;
  user-select: none;
}

ion-card-header {
  padding-bottom: 0;
  text-align: center;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
}

ion-card-content.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  line-height: normal;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-style: none;
  margin: 0;
}

ion-label.custom-label {
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--smoke-color);
  margin-bottom: 10px;
}

ion-input {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 1rem;
}

ion-input.custom-input {
  --padding-start: 20px;
  --padding-end: 20px;
  --border-radius: 12px;
  font-size: 1.1rem;
}

ion-item {
  --border-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-pair {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grid-pair ion-item {
  flex: 1 1 calc(50% - 10px);
  min-width: 200px;
}

.button-row {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 15px;
}

.password-toggle-icon {
  position: absolute;
  right: 60px;
  top: 58%;
  font-size: 1.4rem;
  color: var(--smoke-color);
  cursor: pointer;
  z-index: 10;
}

.grid-single {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

ion-radio-group {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .button-row {
    flex-direction: column;
  }

  ion-button.submit {
    order: 1;
    width: 98%;
  }

  ion-button.back {
    order: 2;
    width: 98%;
  }
}

@media (max-width: 767px) {
  .grid-pair ion-item {
    flex: 1 1 100%;
  }
}
