<ion-header>
  <ion-toolbar>
    <ion-title>Profil módosítása</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="modal-body">
  <section class="epm-header">
    <div class="pc-avatar">
      <img
        ngSrc="{{tempPreviewUrl || user.user.pictureUrl}}"
        alt="Profilkép"
        draggable="false"
        priority
        fill/>
      <label class="avatar-edit">
        <ion-icon name="camera"></ion-icon>
        <input
          type="file"
          hidden
          (change)="onFileSelected($event)"
          accept="image/*" />
      </label>
    </div>
    <div class="epm-headline">
      <h2>{{ user.user.name }}</h2>
      <p class="muted">{{ user.user.email }}</p>
    </div>
  </section>

  <form [formGroup]="editProfileForm">
    <section class="epm-grid">
      <div class="col">
        <ion-item [lines]="this.platform.isIos ? 'full' : 'none'">
          <ion-label class="custom-label" position="stacked">Név</ion-label>
          <ion-input
            class="custom-input"
            type="text"
            formControlName="name" [placeholder]="user.user.name"
            fill="outline"
            clearInput>
          </ion-input>
        </ion-item>
      </div>

      <div class="col">
        <ion-item [lines]="this.platform.isIos ? 'full' : 'none'">
          <ion-label class="custom-label" position="stacked">Mobil</ion-label>
          <ion-input
            class="custom-input"
            type="tel"
            formControlName="phoneNumber" [placeholder]="formatPhoneNumber(user.user.phoneNumber)"
            fill="outline"
            clearInput>
          </ion-input>
        </ion-item>
      </div>
    </section>

    <div class="row">
      <ion-item [lines]="this.platform.isIos ? 'full' : 'none'">
        <ion-label class="custom-label" position="stacked">Cím</ion-label>
        <ion-input
          class="custom-input"
          type="text"
          formControlName="address" [placeholder]="user.user.address || 'N/A'"
          fill="outline"
          clearInput>
        </ion-input>
      </ion-item>
    </div>
  </form>
</div>

<ion-footer class="ion-no-border">
  <div class="footer-actions">
    <ion-button
      class="btn-accent"
      (click)="save()"
      [disabled]="savingData || editProfileForm.invalid || (!editProfileForm.dirty && !file)">
      Mentés
    </ion-button>
  </div>
</ion-footer>
