<ion-header>
  <ion-toolbar>
    <ion-title>{{ kind === 'intent' ? 'Intent szerkesztése' :
      kind === 'greeting' ? 'Köszönés quickstarts' :
        kind === 'fallback' ? 'Fallback suggestion' :
          kind === 'greetingText' ? 'Greeting szöveg' :
            kind === 'fallbackText' ? 'Fallback szöveg' : 'Beállítás' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<section class="modal-content">
  <!-- 0) Ikonválasztó  -->
  <div class="section" *ngIf="kind === 'greeting' || kind === 'fallback'">
    <ion-label class="section-label">Ikon választó</ion-label>

    <div class="icon-grid">
      <ion-button
        type="button"
        class="icon-chip"
        *ngFor="let ic of baseIcons"
        [class.selected]="isIconSelected(ic)"
        (click)="selectIcon(ic)">
        <ion-icon [name]="ic"></ion-icon>
      </ion-button>
    </div>

    <div class="more">
      <button class="text-btn" type="button" (click)="toggleMoreIcons()">
        {{ showMoreIcons ? 'Kevesebbet mutat' : 'Mutass többet' }}
        <ion-icon [name]="showMoreIcons ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </button>
    </div>

    <div class="icon-grid" *ngIf="showMoreIcons">
      <button
        type="button"
        class="icon-chip"
        *ngFor="let ic of moreIcons"
        [class.selected]="isIconSelected(ic)"
        (click)="selectIcon(ic)">
        <ion-icon [name]="ic"></ion-icon>
      </button>
    </div>
  </div>

  <form>
    <!-- 1) greetingText -->
    <div class="section" *ngIf="kind === 'greetingText'">
      <ion-textarea
        class="field"
        label="Greeting szöveg"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="greetingText"
        [(ngModel)]="model.greetingText"
        [placeholder]="valueAsString"
        rows="6">
      </ion-textarea>
    </div>

    <!-- 2) fallbackText -->
    <div class="section" *ngIf="kind === 'fallbackText'">
      <ion-textarea
        class="field"
        label="Fallback szöveg"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="fallbackText"
        [(ngModel)]="model.fallbackText"
        [placeholder]="valueAsString"
        rows="6">
      </ion-textarea>
    </div>

    <!-- 3) greeting -->
    <div class="section" *ngIf="kind === 'greeting'">
      <ion-input
        class="field"
        label="Címke (Label)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemLabel"
        [(ngModel)]="model.greeting.label"
        [placeholder]="valueAsGreeting?.label">
      </ion-input>

      <ion-input
        class="field"
        label="Prompt (AI Kérés)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemPrompt"
        [(ngModel)]="model.greeting.prompt"
        [placeholder]="valueAsGreeting?.prompt">
      </ion-input>

      <ion-textarea
        class="field"
        label="Válasz (Reply)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemReply"
        [(ngModel)]="model.greeting.reply"
        [placeholder]="valueAsGreeting?.reply"
        rows="6">
      </ion-textarea>
    </div>

    <!-- 4) fallback -->
    <div class="section" *ngIf="kind === 'fallback'">
      <ion-input
        class="field"
        label="Címke (Label)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemLabel"
        [(ngModel)]="model.fallback.label"
        [placeholder]="valueAsFallback?.label">
      </ion-input>

      <ion-textarea
        class="field"
        label="Prompt (AI Kérés)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemPrompt"
        [(ngModel)]="model.fallback.prompt"
        [placeholder]="valueAsFallback?.prompt"
        rows="6">
      </ion-textarea>

      <ion-input
        class="field"
        label="Válasz (Reply)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemReply"
        [(ngModel)]="model.fallback.reply"
        [placeholder]="valueAsFallback?.reply">
      </ion-input>
    </div>

    <!-- 5) intent-->
    <div class="section" *ngIf="kind === 'intent'">
      <ion-input
        class="field"
        label="Címke (Label)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemLabel"
        [(ngModel)]="model.intent.patterns"
        [placeholder]="valueAsIntent?.patterns">
      </ion-input>

      <ion-textarea
        class="field"
        label="Prompt (AI Kérés)"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        name="itemPrompt"
        [(ngModel)]="model.intent.response"
        [placeholder]="valueAsIntent?.response"
        rows="6">
      </ion-textarea>
    </div>

    <div class="actions">
      <ion-button
        class="btn-primary"
        type="button"
        (click)="onSave()"
        [disabled]="!canSave || isSaving">
        Mentés
      </ion-button>
    </div>
  </form>
</section>
