<ion-header class="modal-header">
  <h2 class="modal__title">
    {{ kind === 'intent' ? 'Intent szerkesztése' :
    kind === 'greeting' ? 'Köszönés quickstarts' :
      kind === 'fallback' ? 'Fallback suggestion' :
        kind === 'greetingText' ? 'Greeting szöveg' :
          kind === 'fallbackText' ? 'Fallback szöveg' : 'Beállítás' }}
  </h2>
  <ion-button class="close-btn" (click)="onCancel()" aria-label="Bezárás">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-header>

<section class="modal-content">
  <!-- 0) Ikonválasztó  -->
  <div class="section" *ngIf="kind === 'greeting' || kind === 'fallback'">
    <ion-label class="section-label">Ikon választó</ion-label>

    <div class="icon-grid">
      <ion-button
        type="button"
        class="icon-chip"
        *ngFor="let ic of baseIcons"
        [class.selected]="isIconSelected(ic)"
        (click)="selectIcon(ic)">
        <ion-icon [name]="ic"></ion-icon>
      </ion-button>
    </div>

    <div class="more">
      <button class="text-btn" type="button" (click)="toggleMoreIcons()">
        {{ showMoreIcons ? 'Kevesebbet mutat' : 'Mutass többet' }}
        <ion-icon [name]="showMoreIcons ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </button>
    </div>

    <div class="icon-grid" *ngIf="showMoreIcons">
      <button
        type="button"
        class="icon-chip"
        *ngFor="let ic of moreIcons"
        [class.selected]="isIconSelected(ic)"
        (click)="selectIcon(ic)">
        <ion-icon [name]="ic"></ion-icon>
      </button>
    </div>
  </div>

  <form>
    <!-- 1) greetingText -->
    <div class="section" *ngIf="kind === 'greetingText'">
      <ion-item lines="none">
        <ion-label position="stacked" class="section-label">Greeting szöveg</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.greetingText"
          name="greetingText"
          [placeholder]="valueAsString"
          rows="5">
        </ion-textarea>
      </ion-item>
    </div>

    <!-- 2) fallbackText -->
    <div class="section" *ngIf="kind === 'fallbackText'">
      <ion-item lines="none">
        <ion-label position="stacked" class="section-label">Fallback szöveg</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.fallbackText"
          name="fallbackText"
          [placeholder]="valueAsString"
          rows="5">
        </ion-textarea>
      </ion-item>
    </div>

    <!-- 3) greeting -->
    <div class="section" *ngIf="kind === 'greeting'">
      <ion-item lines="none">
        <ion-label position="stacked" class="section-label">Quickstart címke</ion-label>
        <ion-input
          class="rounded"
          fill="outline"
          [(ngModel)]="model.greeting.label"
          name="greetingLabel"
          [placeholder]="valueAsGreeting?.label">
        </ion-input>

        <ion-label position="stacked" class="section-label mt">Prompt</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.greeting.prompt"
          name="greetingPrompt"
          [placeholder]="valueAsGreeting?.prompt"
          rows="5">
        </ion-textarea>

        <ion-label position="stacked" class="section-label mt">Prompt</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.greeting.reply"
          name="greetingReply"
          [placeholder]="valueAsGreeting?.reply"
          rows="5">
        </ion-textarea>
      </ion-item>
    </div>

    <!-- 4) fallback -->
    <div class="section" *ngIf="kind === 'fallback'">
      <ion-item lines="none">
        <ion-label position="stacked" class="section-label">Fallback címke</ion-label>
        <ion-input
          class="rounded"
          fill="outline"
          [(ngModel)]="model.fallback.label"
          name="fallbackLabel"
          [placeholder]="valueAsFallback?.label">
        </ion-input>

        <ion-label position="stacked" class="section-label">Fallback címke</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.fallback.prompt"
          name="fallbackLabel"
          [placeholder]="valueAsFallback?.prompt"
          rows="5">
        </ion-textarea>

        <ion-label position="stacked" class="section-label">Fallback címke</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.fallback.reply"
          name="fallbackLabel"
          [placeholder]="valueAsFallback?.reply"
          rows="5">
        </ion-textarea>
      </ion-item>
    </div>

    <!-- 5) intent-->
    <div class="section" *ngIf="kind === 'intent'">
      <ion-item lines="none">
        <ion-label position="stacked" class="section-label mt">Patterns (vesszővel elválasztva)</ion-label>
        <ion-input
          class="rounded"
          fill="outline"
          [(ngModel)]="model.intent.patterns"
          name="intentPatterns"
          [placeholder]="valueAsIntent?.patterns">
        </ion-input>

        <ion-label position="stacked" class="section-label mt">Response</ion-label>
        <ion-textarea
          class="rounded"
          fill="outline"
          [(ngModel)]="model.intent.response"
          name="intentResponse"
          [placeholder]="valueAsIntent?.response"
          rows="5">
        </ion-textarea>
      </ion-item>
    </div>

    <div class="actions">
      <ion-button
        class="btn-primary"
        type="button"
        (click)="onSave()"
        [disabled]="!canSave || isSaving">
        Mentés
      </ion-button>
    </div>
  </form>
</section>
