<div class="message-table-scroll">
  <ion-grid class="message-table">
    <ion-row class="table-header">
      <ion-col size="2"><span class="th">Orvos</span></ion-col>
      <ion-col size="2"><span class="th">Specialitás</span></ion-col>
      <ion-col size="2"><span class="th">Cím</span></ion-col>
      <ion-col size="2"><span class="th"></span></ion-col>
      <ion-col size="2"><span class="th"></span></ion-col>
      <ion-col size="2"><span class="th"></span></ion-col>
    </ion-row>

    <ion-row *ngFor="let row of dummyRows" class="table-row">
      <ion-col size="2">
        <div class="avatar-text">
          <div class="avatar">
            <ion-skeleton-text animated style="width: 40px; height: 40px; border-radius: 50%;"></ion-skeleton-text>
          </div>
          <div class="text">
            <ion-skeleton-text animated style="border-radius: 10px; width: 70%; height: 10px;"></ion-skeleton-text>
          </div>
        </div>
      </ion-col>

      <ion-col size="2">
        <ion-skeleton-text animated style="border-radius: 10px; width: 70%; height: 10px;"></ion-skeleton-text>
      </ion-col>

      <ion-col size="2">
        <ion-skeleton-text animated style="border-radius: 10px; width: 70%; height: 10px;"></ion-skeleton-text>
      </ion-col>

      <ion-col size="2">
        <ion-skeleton-text animated style="border-radius: 10px; width: 70%; height: 35px; max-width: 200px"></ion-skeleton-text>
      </ion-col>

      <ion-col size="2">
        <ion-skeleton-text animated style="border-radius: 10px; width: 70%; height: 35px; max-width: 200px"></ion-skeleton-text>
      </ion-col>

      <ion-col size="2">
        <ion-skeleton-text animated style="border-radius: 10px; width: 70%; height: 35px; max-width: 200px"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
