<div *ngIf="!isLoading && myAppointments.length > 0" class="message-table-scroll">
  <ion-grid class="message-table">
    <ion-row class="table-header">
      <ion-col size="1.5"><span class="th">Orvos</span></ion-col>
      <ion-col size="1.5"><span class="th">Specialitás</span></ion-col>
      <ion-col size="2" class="sort" (click)="sortAppointments()">
        <span class="th">Időpont</span>
        <ion-icon
          [name]="sortColumn === 'datetime'
            ? (sortDirection === 'asc' ? 'chevron-up-outline' : 'chevron-down-outline')
            : 'swap-vertical-outline'">
        </ion-icon>
      </ion-col>
      <ion-col size="2"><span class="th">Cím</span></ion-col>
      <ion-col size="2"><span class="th">Telefonszám</span></ion-col>
      <ion-col size="2" class="text-center"><span class="th">Email</span></ion-col>
      <ion-col size="1" class="text-center"><span class="th"></span></ion-col>
    </ion-row>

    <ion-row *ngFor="let appointment of myAppointments" class="table-row">
      <ion-col size="1.5">
        <div class="doctor-info">
          <img [src]="appointment?.doctor?.user?.pictureUrl" class="doctor-avatar" alt="Profilkép" draggable="false"/>
          <span>Dr. {{ appointment?.doctor?.user?.name }}</span>
        </div>
      </ion-col>

      <ion-col size="1.5" class="chips-col">
        {{ appointment?.doctor?.doctor?.speciality }}
      </ion-col>

      <ion-col size="2" class="hide-sm">
        {{ appointment.from | date: 'yyyy. MMM d.' }} {{ appointment.from | date: 'HH:mm' }}
      </ion-col>

      <ion-col size="2" class="message-column">
        {{ appointment?.doctor?.user?.address }}
      </ion-col>

      <ion-col size="2">
        {{ appointment?.doctor?.user?.phoneNumber }}
      </ion-col>

      <ion-col size="2">
        {{ appointment?.doctor?.user?.email }}
      </ion-col>

      <ion-col size="1" class="text-center actions">
        <ion-button size="small" color="danger" fill="clear"
                    (click)="confirmDelete(appointment)" class="ghost-btn">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="myAppointments.length === 0" class="no-data">
  <span class="no-data-text">(N/A)</span>
  <span class="no-data-sub">Jelenleg nincs elmentett rendszerüzenet.</span>
</div>
