<div class="card">
  <div class="pc-header">
    <div class="pc-left">
      <div class="pc-avatar">
        <img [src]="user?.user?.pictureUrl" alt="Profilkép" draggable="false" />
      </div>
      <div class="pc-name">
        <div class="pc-fullname">{{ user?.user?.name }}</div>
        <div class="pc-role">{{ user?.user?.role }}</div>
      </div>
    </div>

    <ion-button class="btn-accent pc-edit-top" (click)="edit.emit()" *ngIf="editable">
      Módosítás
    </ion-button>
  </div>

  <div class="pc-details">
    <div class="pc-item"><span class="label">Születési idő:</span>
      <span class="value">{{ user?.patient?.birthDate }} <ng-container *ngIf=" patientAge as age">({{ age }} év)</ng-container></span>
    </div>
    <div class="pc-item"><span class="label">Cím:</span><span class="value">{{ user?.user?.address }}</span></div>

    <div class="pc-item">
      <span class="label">Súly:</span>
      <span *ngIf="user?.patient?.weight === null" class="value">N/A</span>
      <span *ngIf="user?.patient?.weight !== null" class="value">{{ user?.patient?.weight + ' kg' }}</span>
    </div>

    <div class="pc-item">
      <span class="label">Nem:</span>
      <span class="value">
        {{ user?.patient?.gender || 'N/A' }}
        <ion-icon *ngIf="user?.patient?.gender === 'férfi'" name="male"></ion-icon>
        <ion-icon *ngIf="user?.patient?.gender === 'nő'" name="female"></ion-icon>
      </span>
    </div>

    <div class="pc-item"><span class="label">TAJ:</span><span class="value">{{ patientTaj }}</span></div>

    <div class="pc-item">
      <span class="label">Magasság:</span>
      <span *ngIf="user?.patient?.height === null" class="value">N/A</span>
      <span *ngIf="user?.patient?.height !== null" class="value">{{ user?.patient?.height + ' cm' }}</span>
    </div>
  </div>

  <div class="pc-chips" *ngIf="user?.patient?.tags?.length">
    <ion-chip class="chip" *ngFor="let t of user?.patient?.tags">
      <ion-icon [name]="iconFor(t.name)" *ngIf="iconFor(t.name)"></ion-icon>
      <ion-label><strong>{{ t.name }}:</strong> {{ t.value }}</ion-label>
    </ion-chip>
  </div>

  <div class="pc-stats">
    <div class="stat"><span class="label">Email:</span><span class="value">{{ user?.user?.email }}</span></div>
    <div class="stat"><span class="label">Mobil:</span><span class="value">{{ patientPhoneNumber }}</span></div>
    <div class="stat"><span class="label">Otthoni:</span><span class="value">{{ user?.patient?.homePhone ? patientHomePhone : 'N/A' }}</span></div>
  </div>

  <div class="pc-edit-bottom-wrap" *ngIf="editable">
    <ion-button class="btn-accent pc-edit-bottom" (click)="edit.emit()">
      Módosítás
    </ion-button>
  </div>
</div>
