<div class="pageContainer">
  <ion-content>
    <ion-card class="switch-card">
      <ion-segment [value]="activeTab" (ionChange)="onTabChange($event.detail.value?.toString())" mode="md" class="custom-segment">
        <ion-segment-button value="login">
          <ion-icon name="log-in-outline" class="segment-icon"></ion-icon>
          <ion-label>Bejelentkezés</ion-label>
        </ion-segment-button>
        <ion-segment-button value="patient">
          <ion-icon name="person-add-outline" class="segment-icon"></ion-icon>
          <ion-label>Regisztráció</ion-label>
        </ion-segment-button>
        <ion-segment-button value="doctor">
          <ion-icon name="medkit-outline" class="segment-icon"></ion-icon>
          <ion-label>Orvos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>

    <div class="form-container">
      <ng-container [ngSwitch]="activeTab">
        <app-login-form *ngSwitchCase="'login'"></app-login-form>
        <app-patient-regist *ngSwitchCase="'patient'"></app-patient-regist>
        <app-doctor-regist *ngSwitchCase="'doctor'"></app-doctor-regist>
      </ng-container>
    </div>
  </ion-content>
</div>
