.pageContainer {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.pageContainer ion-content {
  --background: transparent;
  background-image: url("/pictures/desktop-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}

.switch-card {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #0276bc;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

ion-segment.custom-segment {
  --background: #e0f2fc;
  width: 100%;
  display: flex;
}

ion-segment-button:not(.segment-button-checked) {
  background: #0276bc;
  color: rgba(255, 255, 255, 0.8);
}

ion-segment-button:hover {
  background: #26c5d9;
  --color: black;
}

ion-segment-button.segment-button-checked {
  background: #26c5d9;
  --indicator-height: 0;
}

ion-segment-button.segment-button-checked ion-icon,
ion-segment-button.segment-button-checked ion-label {
  color: black;
}

ion-segment.custom-segment ion-segment-button {
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 100px;
}

.segment-icon {
  font-size: 1.6rem;
}

ion-segment-button {
  --background: transparent;
  transition: background 0.2s ease;
  min-height: 100px;
  padding: 10px 0;
}

ion-segment-button ion-icon {
  font-size: 30px;
  margin-bottom: 5px;
}

.form-container {
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ion-label {
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 767px) {
  ion-segment-button ion-label {
    display: none !important;
  }
}
