<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rendszerüzenet</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="current as message">
  <div class="card">
    <div class="hero" [ngSwitch]="message?.type">
      <img *ngSwitchCase="'info'" src="pictures/system-message-pictures/information-heroImg.png" alt="info hero">
      <img *ngSwitchCase="'warning'" src="pictures/system-message-pictures/warning-heroImg.png" alt="warning hero">
      <img *ngSwitchCase="'error'" src="pictures/system-message-pictures/error-heroImg.png" alt="error hero">
      <img *ngSwitchDefault src="pictures/system-message-pictures/information-heroImg.png" alt="default hero">
    </div>

    <div class="body">
      <div class="badges">
        <ion-badge
          [ngClass]="{
            'badge-info': message.type === 'info',
            'badge-warning': message.type === 'warning',
            'badge-error': message.type === 'error'
          }">
          {{ message.type | uppercase }}
        </ion-badge>

        <ion-badge *ngIf="message.valid_until">
          Érvényes: {{ message.created_at | date: 'yyyy.MM.dd' }} - {{ message.valid_until | date: 'yyyy.MM.dd' }}
        </ion-badge>
      </div>

      <h2 class="title">{{ message.title }}</h2>
      <p class="message">
        {{ message.message }}
      </p>
    </div>
  </div>
</ion-content>
