<ion-card class="doctor-card">
  <ion-toolbar class="dpc-header">
    <div slot="start" class="dpc-left">
      <div class="dpc-avatar">
        <img ngSrc="{{ user.user.pictureUrl }}" alt="Profilkép" draggable="false" fill priority />
      </div>
      <div class="pc-name-info">
        <ion-label>
          <div class="pc-fullname">Dr. {{ fullName }}</div>
          <ion-chip class="pc-role">{{ user.user.role }}</ion-chip>
        </ion-label>
      </div>
    </div>

    <ion-buttons slot="end" *ngIf="editable">
      <ion-button class="btn-accent" (click)="edit.emit()" fill="outline">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        Módosítás
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="pc-details pc-details-doctor-card">
      <div class="col first">
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Specialitás:</ion-label>
          <span class="value">{{ user.doctor.speciality }}</span>
        </ion-item>
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Cím:</ion-label>
          <span class="value">{{ user.user.address || 'N/A' }}</span>
        </ion-item>
      </div>
      <div class="col">
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Mobil telefonszám:</ion-label>
          <span class="value">{{ formatPhoneNumber(user.user.phoneNumber) || 'N/A' }}</span>
        </ion-item>
        <ion-item lines="none" class="pc-item">
          <ion-label class="label">Email:</ion-label>
          <span class="value">{{ user.user.email }}</span>
        </ion-item>
      </div>
    </div>

    <div class="dpc-intro" *ngIf="user.doctor.introduction">
      <h4>Bemutatkozás</h4>
      <p class="intro">{{ user.doctor.introduction.trim() || "Rövid bemutatkozás..." }}</p>
    </div>
  </ion-card-content>

  <ion-footer *ngIf="editable" class="pc-edit-bottom-wrap">
    <ion-button class="btn-accent" (click)="edit.emit()">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Módosítás
    </ion-button>
  </ion-footer>
</ion-card>
