.page-container {
  min-height: 100vh;
  --background: var(--dashboard-background-color);
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  padding: 3%;
}

.appointments,
.results,
.prescriptions {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  background-color: #ffffff;
}

.profile-card {
  grid-column: 1 / -1;
  grid-row: 1;
}

.appointments {
  grid-column: 1 / 2;
  grid-row: 2;
  user-select: none;
}

.results {
  grid-column: 2 / 3;
  grid-row: 2;
}

.prescriptions {
  grid-column: 1 / -1;
  grid-row: 3;
}

h2 {
  margin-bottom: 0;
}

.profile-card {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 15px;
}

.header-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.expand-btn {
  --background: transparent;
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;
  --color: var(--secondary);
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.expand-btn:hover {
  scale: 1.1;
}

.appointments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.appointment-left {
  display: flex;
  align-items: center;
}

.doctor-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  border: 2px solid #ccc;
}

.doctor-info {
  display: flex;
  flex-direction: column;
}

.doctor-name {
  font-weight: bold;
  font-size: 0.9rem;
}

.doctor-speciality {
  font-size: 0.75rem;
  color: #888;
}

.appointment-date {
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
}

.appointment-count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
}

.appointment-count span {
  font-size: 3rem;
  color: var(--secondary);
  font-weight: bold;
}

@media (max-width: 768px) {
  .data-right::before {
    display: none;
  }
}

@media (max-width: 1000px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .profile-card,
  .appointments,
  .results,
  .prescriptions {
    grid-column: auto;
    grid-row: auto;
  }
}
