<ion-content class="page-container">
  <app-patient-navbar></app-patient-navbar>
  <div class="grid">
    <ion-card class="profile-card">
      <div class="pc-header">
        <div class="pc-left">
          <div class="pc-avatar">
            <img [src]="user?.user?.pictureUrl" alt="Profilkép" draggable="false" />
          </div>
          <div class="pc-name">
            <div class="pc-fullname">{{ user?.user?.name }}</div>
            <div class="pc-role">{{ user?.user?.role }}</div>
          </div>
        </div>

        <ion-button class="btn-accent" (click)="openEditModal()">
          Profil módosítása
        </ion-button>
      </div>

      <div class="pc-details">
        <div class="pc-item"><span class="label">Születési idő:</span><span class="value">{{ user?.user?.birthDate }} ({{ getAge(user?.user?.birthDate) }} év)</span></div>
        <div class="pc-item"><span class="label">Cím:</span><span class="value">{{ user?.user?.address }}</span></div>
        <div class="pc-item"><span class="label">Súly:</span><span class="value"></span>{{ user?.patient?.weight ? (user?.patient?.weight + ' kg') : 'N/A' }}</div>
        <div class="pc-item">
          <span class="label">Nem:</span>
          <span class="value">{{ user?.patient?.gender }}</span>
          <ion-icon
            *ngIf="user?.patient?.gender === 'Férfi'"
            name="male">
          </ion-icon>
          <ion-icon
            *ngIf="user?.patient?.gender === 'Nő'"
            name="female">
          </ion-icon>
        </div>
        <div class="pc-item"><span class="label">TAJ:</span><span class="value"></span>{{ formatTaj(user?.patient?.taj) }}</div>
        <div class="pc-item"><span class="label">Magasság:</span><span class="value"></span>{{ user?.patient?.height ? (user.patient.height + ' cm') : 'N/A' }}</div>
      </div>

      <div class="pc-chips" *ngIf="tags?.length">
        <ion-chip class="chip" *ngFor="let t of tags">
          <ion-icon [name]="iconFor(t.name)" *ngIf="iconFor(t.name)"></ion-icon>
          <ion-label><strong>{{ t.name }}:</strong> {{ t.value }}</ion-label>
        </ion-chip>
      </div>

      <div class="pc-stats">
        <div class="stat"><span class="label">Email:</span><span class="value">{{ user?.user?.email }}</span></div>
        <div class="stat"><span class="label">Mobil:</span><span class="value">{{ formatPhoneNumber(user?.user?.phoneNumber) }}</span></div>
        <div class="stat"><span class="label">Otthoni:</span><span class="value">{{ user?.patient?.homePhone ? formatPhoneNumber(user?.patient?.homePhone) : 'N/A' }}</span></div>
      </div>
    </ion-card>

    <ion-card class="appointments">
      <div class="card-header">
        <h2 class="header-title">Időpontjaim</h2>
        <ion-button class="expand-btn" [routerLink]="['/appointment-list']">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="upcomingAppointments.length > 0" class="appointments-wrapper">
        <div *ngFor="let app of upcomingAppointments" class="appointment-card">
          <div class="appointment-left">
            <img [src]="app.pictureUrl" alt="Doktor" class="doctor-image" draggable="false"/>
            <div class="doctor-info">
              <div class="doctor-name">{{ app.name }}</div>
              <div class="doctor-speciality">{{ app.speciality }}</div>
            </div>
          </div>
          <div class="appointment-date">
            <div>{{ app.date }}</div>
            <div>
              {{ app.from }} - {{ app.to }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="upcomingAppointments.length === 0" class="appointment-count">
        <span>N/A</span>
      </div>
    </ion-card>

    <ion-card class="results"></ion-card>
    <ion-card class="prescriptions"></ion-card>
  </div>
</ion-content>
