ion-card {
  box-shadow: none;
  background: white;
  user-select: none;
}

ion-card-header {
  padding-bottom: 0;
  text-align: center;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #007acc;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
}

ion-card-content.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  line-height: normal;
}

ion-item {
  --background: transparent;
  --highlight-color-focused: #007acc;
  margin: 0 0 0.5rem 0;
}

ion-label.custom-label {
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

ion-input.custom-input {
  --padding-start: 20px;
  --padding-end: 20px;
  --border-radius: 12px;
  font-size: 1.1rem;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-style: none;
  margin: 0;
}

.button-row {
  display: flex;
  gap: 20px;
  width: 98%;
  margin-top: 15px;
}

ion-button {
  --border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
}

ion-button.btn-back {
  width: 30%;
  border-radius: 10px;
  --background: transparent;
  --color: #007acc;
  border: 2px solid #007acc;
}

ion-button.btn-back:hover {
  --background: #007acc;
  --color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 122, 204, 0.25);
}

ion-button.btn-login {
  width: 70%;
  border-radius: 10px;
  --background: #007acc;
  --color: white;
  border: none;
}

ion-button.btn-login:hover {
  --background: #005f99;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 110, 166, 0.3);
}

@media (max-width: 600px) {
  .button-row {
    flex-direction: column;
  }

  ion-button.btn-back,
  ion-button.btn-login {
    width: 100%;
  }

  ion-button.btn-login {
    order: 1;
  }

  ion-button.btn-back {
    order: 2;
  }
}

