<ion-card>
  <ion-card-header>
    <ion-card-title>Bejelentkezés</ion-card-title>
  </ion-card-header>

  <ion-card-content class="form">

    <ion-item>
      <ion-label class="custom-label" position="stacked">E-mail cím</ion-label>
      <ion-input
        class="custom-input"
        type="email"
        [(ngModel)]="email"
        placeholder="Email cím"
        fill="outline"
        required
        clearInput>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="custom-label" position="stacked">Jelszó</ion-label>
      <ion-input
        class="custom-input"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Jelszó"
        fill="outline"
        required
        clearInput>
      </ion-input>
      <ion-icon
        *ngIf="password"
        [name]="showPassword ? 'eye-off' : 'eye'"
        (click)="togglePasswordVisibility()"
        class="password-toggle-icon">
      </ion-icon>
    </ion-item>

    <div class="button-row">
      <ion-button class="btn-secondary back" (click)="backToDash()">Vissza</ion-button>
      <ion-button class="btn-primary submit" (click)="onLogin()">Belépés</ion-button>
    </div>

  </ion-card-content>
</ion-card>
