<ion-card>
  <ion-card-header>
    <ion-card-title>Bejelentkezés</ion-card-title>
  </ion-card-header>

  <ion-card-content class="form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <ion-input
        class="field"
        label="E-mail"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        formControlName="email"
        type="email">
      </ion-input>

      <ion-input
        class="field"
        label="Jelszó"
        labelPlacement="floating"
        fill="outline"
        shape="round"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password">

        <ion-button
          slot="end"
          fill="clear"
          size="small"
          type="button"
          (click)="togglePassword()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-input>

      <div class="button-row">
        <ion-button class="btn-secondary back" type="button" (click)="backToDash()">Vissza</ion-button>
        <ion-button class="btn-primary submit" type="submit" [disabled]="loading">Belépés</ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-card>
