<div class="sidebar" [class.open]="!isCollapsed">
  <img src="pictures/logo.png" alt="Logo" class="logo" draggable="false">
  <div class="top-section">
    <div class="top-nav-links">
      <ion-icon name="apps" (click)="toggleSidebar()"></ion-icon>
      <span *ngIf="!isCollapsed">Menü</span>
    </div>
    <ion-icon name="close-outline" class="toggle-btn" *ngIf="!isCollapsed" (click)="toggleSidebar()"></ion-icon>
  </div>

  <ul class="nav-links">
    <li
      *ngFor="let item of menuItems.slice(0, menuItems.length - 2)"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <ion-icon [name]="item.icon"></ion-icon>
      <span *ngIf="!isCollapsed">{{ item.label }}</span>
    </li>
  </ul>

  <ul class="nav-links bottom-nav-links">
    <li
      *ngFor="let item of menuItems.slice(-2)"
      (click)="item.label === 'Kijelentkezés' ? confirmLogout() : navigateTo(item.route)"
      [class.active]="isActiveRoute(item.route)"
    >
      <ion-icon [name]="item.icon"></ion-icon>
      <span *ngIf="!isCollapsed">{{ item.label }}</span>
    </li>
  </ul>
</div>
