<footer class="app-footer">
  <ion-grid class="footer-grid">
    <ion-row class="ion-align-items-center ion-justify-content-between">

      <ion-col size="12" size-md="4" class="footer-left">
        <img src="icons/social-media/facebook.png" alt="Facebook" class="social-media-icon" draggable="false">
        <span>|</span>
        <img src="icons/social-media/instagram.png" alt="Facebook" class="social-media-icon" draggable="false">
        <span>|</span>
        <img src="icons/social-media/tiktok.png" alt="Facebook" class="social-media-icon" draggable="false">
      </ion-col>

      <ion-col size="12" size-md="4" class="footer-center">
        <span>© 2025 CareLink. Minden jog fenntartva.</span>
      </ion-col>

      <ion-col size="12" size-md="4" class="footer-right">
        <a href="#" draggable="false">Adatvédelmi irányelvek</a>
        <span class="divider">|</span>
        <a href="#" draggable="false">ÁSZF</a>
        <span class="divider">|</span>
        <a href="#" draggable="false">Jogi nyilatkozat</a>
      </ion-col>

    </ion-row>
  </ion-grid>
</footer>
