<div class="filter-bar">
  <div class="filter-bar__group">
    <div class="filter-bar__left">
      <ion-searchbar
        [debounce]="500"
        [value]="query"
        placeholder="Keresés az adatok között..."
        aria-label="Szabad szöveges kereső"
        class="custom-search-bar"
        (ionInput)="query = $event.detail.value || ''; filterData()" inputmode="text"
      ></ion-searchbar>
    </div>

    <div class="filter-bar__select">
      <ion-item lines="none" class="custom-select-item">
        <ion-select
          [value]="activeTab"
          (ionChange)="setTab($event.detail.value)"
          interface="popover"
          class="custom-select"
          aria-label="Adattípus kiválasztása"
        >
          <ion-select-option value="appointments">Időpontjaim</ion-select-option>
          <ion-select-option value="documents">Dokumentumaim</ion-select-option>
          <ion-select-option value="diagnoses">Diagnózisaim</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div class="filter-bar__pagination">
    <div class="pagination-controls" *ngIf="totalItems > pageSize">
      <ion-button fill="clear" size="small" [disabled]="currentPage === 1" (click)="changePage(1)">
        <ion-icon name="caret-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <span class="page-indicator">
        {{ currentPage }} / {{ totalPages }}
      </span>

      <ion-button fill="clear" size="small" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
        <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" [disabled]="currentPage === totalPages" (click)="changePage(totalPages)">
        <ion-icon name="caret-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>

<app-appointment-table
  *ngIf="activeTab === 'appointments' && myAppointmentCalledAndLoaded"
  [myAppointments]="paginatedAppointments">
</app-appointment-table>

<app-appointment-table-skeleton
  *ngIf="activeTab === 'appointments' && isLoading">
</app-appointment-table-skeleton>

<app-diagnoses-table
  *ngIf="activeTab === 'diagnoses' && myDiagnosesCalledAndLoaded"
  [myDiagnoses]="paginatedDiagnoses">
</app-diagnoses-table>

<app-diagnoses-table-skeleton
  *ngIf="activeTab === 'diagnoses' && isLoading">
</app-diagnoses-table-skeleton>

<app-document-table
  *ngIf="activeTab === 'documents' && myDocumentCalledAndLoaded"
  [myDocuments]="paginatedDocuments">
</app-document-table>

<app-document-table-skeleton
  *ngIf="activeTab === 'documents' && isLoading">
</app-document-table-skeleton>
