<div class="filter-bar">
  <div class="filter-bar__left">
    <ion-searchbar
      [debounce]="500"
      [value]="query"
      placeholder="Keresés az adatok között..."
      aria-label="Szabad szöveges kereső"
      class="custom-search-bar"
      (ionInput)="query = $event.detail.value || ''"
      inputmode="text"
    ></ion-searchbar>
  </div>

  <div class="filter-bar__right">
    <ion-segment
      [value]="activeTab"
      (ionChange)="setTab($event.detail.value)"
      mode="md"
      class="custom-segment"
    >
      <ion-segment-button value="appointments">
        <ion-label>Időpontjaim</ion-label>
      </ion-segment-button>

      <ion-segment-button value="documents">
        <ion-label>Dokumentumaim</ion-label>
      </ion-segment-button>

      <ion-segment-button value="diagnoses">
        <ion-label>Diagnózisaim</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</div>

<app-appointment-table
  *ngIf="activeTab === 'appointments' && myAppointmentCalledAndLoaded"
  [myAppointments]="myAppointments">
</app-appointment-table>

<app-appointment-table-skeleton
  *ngIf="activeTab === 'appointments' && isLoading">
</app-appointment-table-skeleton>

<app-diagnoses-table
  *ngIf="activeTab === 'diagnoses' && myDiagnosesCalledAndLoaded"
  [myDiagnoses]="myDiagnoses">
</app-diagnoses-table>

<app-diagnoses-table-skeleton
  *ngIf="activeTab === 'diagnoses' && isLoading">
</app-diagnoses-table-skeleton>

<app-document-table
  *ngIf="activeTab === 'documents' && myDocumentCalledAndLoaded"
  [myDocuments]="myDocuments">
</app-document-table>

<app-document-table-skeleton
  *ngIf="activeTab === 'documents' && isLoading">
</app-document-table-skeleton>
